body {
    background-color: gold;
}
.jumbotron {
    font-family: Arial, Helvetica, sans-serif;
    color: navy;
    background: url("https://i.ytimg.com/vi/h3S9koeQzr8/maxresdefault.jpg");
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    height: 315px;
    max-width: 100%;
}
.container {
    text-align: center;
}
.panal-heading {
    background: rgb(85, 69, 103);
    border: 1px solid black;
    color: gold;
}
.panal-body {
    background: rgb(9, 110, 128);
    height: 100px;
}
#Wins {
    color:rgb(5, 39, 5);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid;
}
#Current {
    color: darkred;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid;
}
#underscore {
    color: snow;
    font-family: sans-serif;
    font-size: 45px;
    border: solid;
}
#Guesses {
    color: rgb(7, 5, 5);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    border: solid;
}
#Letters {
    color: rgb(99, 26, 26);
    font-size: 20px;
    font-family: monospace;
    border: solid;
}
#play-button {
    background-color: rgb(9, 110, 128);
    color: silver;
    border: 3px solid #4aaaa5;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
footer {
    background: rgb(107, 37, 37);
    padding: 4px 0;
    clear: both;
    border: 3px solid #4aaaa5;
    color: rgb(37, 117, 54);
    font-size: 20px;
    align-content: flex-end;
    width: 100%;
}